*{
    margin: 0px;
}
header{
    font-size: 30px;
    display: block;
}
body{
    text-align: center;
}
#elementos{
   width: 1300px; 
    margin: 15px auto;
    
    text-align: center; 
}
#cabecera{
    padding: 20px;
    background-color: brown;
}
#menu{ 
    background: aqua;
    border: 2px solid;
}
#menu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;
}

#secciones{
    float: left;
    width: 800px;
    padding: 10px;
    margin-bottom: 20px;
}
article{
    text-align: left;
    background: rgb(195, 214, 208);
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 15px;
}

aside{
    border: 2px solid black;
    text-align: left  ;
    padding: 20px auto;
    background: rgba(201, 184, 184, 0.788);
}
aside ul,a{
    font: bold;
    list-style: none;
}
#publicidad{
    
    float: left;
    width: 320px;
    margin: 10px 0px;
    padding-left: 20px;
}
img{
    width: 90%;
    height: auto;
}
hgroup{
    font: bold;
}
#links{
    padding: 10px auto;
    margin: 50px;
}
footer{
    font-size: 15px;
    padding: 10px;
    border-top: 2px solid black;
    clear: both;
    background: gray;
}

video{
    width: 90%;
}

article p{

    clear: both;
    text-align: center;
    padding: 10px;
    border-top: 2px solid black;
    
}